.sidebar-title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    margin-left: 40px;
}

.sidebar-items {
    margin-top: 20px;
}

.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position:absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 20%;
}

.sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    top: 4.8px;
    left: 4.8px;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    background: #1073c3;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}